@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
  --header-grey:#888888;
  --medium-grey:#666;
  --light-grey:#F0F0F0;
  --calculator-line-grey:#e0e0e0;
  --site-white:#fff;
  --site-black:#222;
  --site-light-black:#444;
  --light-blue:#8CAFD3;
  --facebook-blue:#3b5998;
  --pinterest-red:#cb2027;
  --email-blue:#1cd5bd;
  --calculator-light-blue:#46e1dd;
  --calculator-dark-blue:#00a6a4;
}

*{
  margin: 0;
  padding: 0;
}

body{
  max-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  line-height: 1.4;
  letter-spacing: .02rem;
  font-family: 'Rubik', sans-serif;
  color:var(--site-black)
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/*Header*/
.header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--site-white); 
  border-bottom: solid var(--light-grey) 1.5px;
}

/*Header container*/
.header-container{
  text-align: center;
  padding: 1rem;
}

/*H1 in header container*/
.header-container-title{
  font-size: 2.5rem;
}

/*Anchor tag in header container*/
.header-container-link{
  color:var(--header-grey);
}

/*Container for the page*/
.page-container{
  max-width: 85%;
  margin: 0 auto;
}

/*Top of the page holding title, subtitle, social icons, and table of contents*/
.page-top{
  text-align: center;
}

.page-top-info{
  margin: 2rem 0;
}

.page-title{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.page-title span{
  font-size: 3.3rem;
  position: relative;
  bottom: .1rem;
}

.page-subtitle{
  width: 45%;
  margin: 0 auto;
  color:var(--medium-grey);
  font-size: 1.4rem;
  margin-top: .65rem;
}

/*div that holds the social icons at the top of the page*/
.page-social-icons{
  margin: .8rem;
}

.page-social-icons i{
  font-size: 1.5rem;
  margin: 0 .7rem;
  padding: 1rem 1.15rem;
  border-radius: 50%;
  color: var(--site-white);
}

/*facebook icon*/
.page-social-icons i:first-child{
  background-color: var(--facebook-blue);
}

/*pinterest icon*/
.page-social-icons i:nth-child(2){
  background-color: var(--pinterest-red);
}

/*email icon*/
.page-social-icons i:nth-child(3){
  background-color: var(--email-blue);
}

/*Table of contents*/
.page-top-table{
  margin-top: 2rem;
}

.table-header{
  font-size: 1.3rem;
  font-weight: bold;
}

.table-links{
  display: flex;
  flex-direction: column;
}

.table-links a{
  color: var(--site-black);
  font-size: 1.1rem;
}

.table-links a:first-child{
  margin: .5rem;
}

/*underline for table of content links*/
.table-links a::after{
  content: "";
  display: block;
  width: 11%;
  margin: 0 auto;
  border-bottom: solid var(--light-blue) thin;
}

/*image container below the table of contents*/
.page-image{
  margin: 2.5rem auto 0 auto;
  height: 75vh;
  max-width: 65%;
}

.page-image img{
  height: 100%;
  width: 100%;
}

/*Blog container holding all blog content*/
#blog-container{
  margin: 2rem auto 0 auto;
  max-width: 65%;
}

.blog-post-information{
  display: flex;
}

.blog-author,
.blog-date{
  font-weight: bold;
  white-space: nowrap;
}

/*Spans for author and date font*/
.blog-author span,
.blog-date span{
  color: var(--medium-grey);
  margin-right: .25rem;
}

.blog-author{
  margin-right: 1rem;
}

/*Blog content container holding paragraphs*/
.blog-content{
  margin-top: 1.5rem;
  line-height: 1.8rem;
}

/*paragraphs in the blog content*/
.blog-content p{
  margin-top: 1.2rem;
}

/*Headers in the blog content*/
.blog-header{
  position: relative;
  top:1rem;
  font-style: italic;
}

/*Calculator section*/
#calculator{
  max-width: 65%;
  margin: 3rem auto 0 auto;
}

/*Calculator form*/
#calculator-form{
  border: solid var(--light-grey) 1px;
  border-top: solid var(--calculator-light-blue) 8px;
  border-radius: 4px;
  box-shadow: 0 1px 3px;
  padding:2rem 2rem 3rem 2rem;
  margin-bottom: 9rem;
}

.calculator-header{
  display: flex;
  align-items: center;
}

/*Icon in the calculator header*/
.calculator-header i{
  font-size: 2.2rem;
  margin-right: .65rem;
  background-color: var(--calculator-light-blue);
  color: var(--site-white);
  padding: .8rem 1.1rem;
  border-radius: 50%;
}

.calculator-header-title{
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
}

/*Income area on the calculator*/
.income-area{
  display: flex;
  flex-direction: column;
}

/*place a line over the income area*/
.income-area::before{
  content: "";
  display: block ;
  width: 100%;
  border-bottom:solid var(--medium-grey) thin;
  margin: .8rem 0 2rem 0;
}

.income-area label{
  font-weight: bold;
}

.income-area label span{
  color:var(--medium-grey);
}

.income-area input{
  border-radius: 4px;
  border: solid var(--medium-grey) thin;
  width: 45%;
  padding: .75rem 0 .75rem .5rem;
  font-size: 1rem;
  margin-top: .5rem;
}

.income-area input:focus {
  outline: none;
 }

/*Header above outputs on the calculator */
.calculator-output-header{
  margin: 1.5rem 0;
}

/*output box*/
.output-box{
  margin-bottom: 2rem;
}

/*Labels for each output (necessities, wants, savings)*/
.output-box-label{
  color: var(--site-light-black);
  font-size: 1.3rem;
  font-weight: bold;
}

/*figure output for necessities,wants, & savings*/
.calculator-output{
  color:var(--calculator-dark-blue);
  font-size: 1.5rem;
}

/*Calculator buttons*/
.calculator-buttons{
  margin-top: 3rem;
}

#submit-button,
#clear-button{
  padding: .6rem 1.2rem;
  border-radius: 4px;
  border: solid var(--calculator-dark-blue) thin;
  color: var(--calculator-dark-blue);
  font-size: 1.1rem;
}

/*Remove dark border lines from buttons on click*/
#submit-button:focus,
#clear-button:focus {
  outline: none;
 }

#submit-button{
  margin-right: .4rem;
}

/*footer*/
footer{
  background-color: var(--calculator-dark-blue);
  color: var(--site-white);
  text-align: center;
  padding: 1rem 0;
  font-size: 1.3rem;
}


